.movies {
  display: flex;
  gap: 36px;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 36px;
}

@media (max-width: 420px) {
  .movies {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 36px;
  }
}
